body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

.headerBar{
    background-color: teal;
    color: white;
    width: 100%;
    height: 64px;
    padding: 0px 32px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.sideBar{
    margin: none;
    position: absolute;
    padding: 20px;
    width: 220px;
    height: 100%;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.mainsection{
    margin-left: 265px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}

.urlSearch{
    width:100%;
}

textarea{
    width: 75%;
}

label{
    margin: 0px 10px 10px 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="radio"]{
    display: none;
}

input[type=radio]:checked + label {
    background-color: teal;
    color: white;
    border-radius: 3px;
}

.results{
    margin-top: 10px;
    padding: 5px;
    min-height: 500px;
    background-color: white;
}

.json, .results{
    font-family: monospace;
}

ul{
    list-style-type: none;
    margin: 0px;
}

article{
    background-color: teal;
    margin-bottom: 20px;
    padding: 2px;
    height: auto;
    overflow-wrap: break-word;
    border-radius: 3px;
}

section{
    overflow-wrap: break-word;
}

p{
    margin: 2px;
}